<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="script.service.sponsorblock">
        <category id="general" label="32001" help="">
            <group id="1" label="">
                <setting id="show_skipped_dialog" type="boolean" label="32006" help="">
                    <level>1</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="auto_upvote" type="boolean" label="32012" help="32033">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable" setting="show_skipped_dialog">true</dependency>>
                    </dependencies>
                </setting>
                <setting id="ignore_unlisted" type="boolean" label="32026" help="32031">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="skip_count_tracking" type="boolean" label="32011" help="32032">
                    <level>2</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="">
                <setting id="video_end_time_margin_ms" type="integer" label="32028" help="32034">
                    <level>2</level>
                    <default>1500</default>
                    <control type="edit" format="integer"/>
                </setting>
                <setting id="segment_chain_margin_ms" type="integer" label="32029" help="32035">
                    <level>2</level>
                    <default>500</default>
                    <control type="edit" format="integer"/>
                </setting>
                <setting id="reduce_skips_ms" type="integer" label="32040" help="32041">
                    <level>2</level>
                    <default>0</default>
                    <control type="edit" format="integer"/>
                </setting>
            </group>
        </category>

        <category id="categories" label="32020" help="">
            <group id="1" label="">
                <setting id="category_sponsor" type="boolean" label="32013" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="category_intro" type="boolean" label="32014" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="category_outro" type="boolean" label="32015" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="category_interaction" type="boolean" label="32016" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="category_selfpromo" type="boolean" label="32017" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="32022">
                <setting id="category_music_offtopic" type="boolean" label="32018" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3" label="32021">
                <setting id="category_livestream_messages" type="boolean" label="32019" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="4" label="32023">
                <setting id="category_custom" type="string" label="32024" help="32025">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32025</heading>
                    </control>
                </setting>
            </group>
        </category>

        <category id="api" label="32007" help="">
            <group id="1" label="">
                <setting id="user_id" type="string" label="32003" help="">
                    <level>2</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32003</heading>
                    </control>
                </setting>
            </group>
            <group id="2" label="">
                <setting id="api_server" type="string" label="32002" help="">
                    <level>3</level>
                    <default>sponsor.ajay.app</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32002</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>